.CentralResults{
    padding:15px;
    .row{
        margin:0;
    }
    .jumbos{
        margin:30px;
    }
    .result{
        border-top:3px solid black;
    }
    .striped {
        color:white;
        background-color:black;
    }
}